@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P");

html {
  font-family: "Raleway", sans-serif;
}

/************************************************** title screen start **********************************************************************/

.container {
  position: relative;
  width: 1024px;
  height: 800px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-nazi {
  position: relative;
  width: 1024px;
  height: 800px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
  object-fit: cover;
  background-image: url(donkey_kong.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.container-character-selection {
  width: 900px;
  height: 650px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
  object-fit: cover;
  font-family: "Press Start 2P", sans-serif;
  background-image: url(granite.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.choose-character-title {
  text-align: center;
  margin-top: 30px;
  color: white;
}

.characterBoxes {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-around;
}

.characterBox {
  order: 3;
  width: 100px;
  height: 100px;
  background-color: red;
  border: 5px solid black;
  text-align: center;
  margin-top: 50px;
  cursor: pointer;
  font-size: 12px;
  padding-top: 10px;
  margin-bottom: 100px;
}

.characterBox img {
  padding-top: 15px;
}

.selectedCharacterBox {
  width: 200px;
  height: 200px;
  background-color: red;
  border: 5px solid black;
  text-align: center;
  margin: auto;
  cursor: pointer;
}

.pressStartText {
  color: white;
  text-align: center;
}

/************************************************** title screen end **********************************************************************/

/************************************************** trivia start **********************************************************************/

.title {
  position: relative;
  background-color: rgba(0, 0, 0, 1);
  color: rgb(255, 255, 255);
  padding: 20px;
  font-size: 1.8em;
  border-radius: 5px;
  text-align: center;
}

.questions {
  text-align: center;
}

.question {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.questionBox {
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 5px;
  padding: 15px;
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  opacity: 0.8;
}

.answerBtn {
  position: relative;
  padding: 10px;
  background-color: rgb(250, 151, 37);
  display: inline-block;
  margin: 10px;
  outline: none;
  border: none;
  font-size: 1em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.correctBtn {
  position: relative;
  padding: 10px;
  background-color: green;
  display: inline-block;
  margin: 10px;
  outline: none;
  border: none;
  font-size: 1em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.incorrectBtn {
  position: relative;
  padding: 10px;
  background-color: red;
  display: inline-block;
  margin: 10px;
  outline: none;
  border: none;
  font-size: 1em;
  color: rgb(255, 255, 255);
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
}

.incorrect {
  color: red;
}

.correct {
  color: green;
}

.hidden {
  display: none;
}

/************************************************** trivia end **********************************************************************/

/************************************************** scoreboard start **********************************************************************/

.container2 {
  position: relative;
  width: 1024px;
  height: 800px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  margin: auto;
  object-fit: cover;
  background-image: url("street-figher.jpg");
}

.score-board {
  position: relative;
}

.score {
  position: relative;
  font-size: 3em;
  text-align: center;
  background-color: rgb(250, 151, 37);
  padding: 10px;
}

.score-2 {
  position: relative;
  font-size: 1em;
  top: 50px;
  text-align: center;
  font-family: "Press Start 2P", sans-serif;
  background-color: rgb(250, 151, 37);
}

.playBtn {
  position: absolute;
  padding: 10px;
  top: 685px;
  background-color: rgb(46, 182, 46);
  color: rgb(255, 255, 255);
  width: 150px;
  left: 0px;
  right: 0px;
  margin: auto;
  outline: none;
  cursor: pointer;
  font-family: "Press Start 2P", sans-serif;
}

.resultScreenCharacter {
  position: absolute;
  margin-top: 493px;
  margin-left: 430px;
  animation: mymove 1s infinite;
}

@keyframes mymove {
  from {
    top: 0px;
  }
  to {
    top: 50px;
  }
}

.resultScreenCharacter img {
  width: 150px;
  height: 150px;
}

li {
  padding: 14px;
  list-style: none;
}

ol {
  list-style: none;
}

.selectedBigBox {
  width: 150px;
  height: 150px;
  border-style: none;
  border: 2px solid red;
  margin: 0;
}

/************************************************** scoreboard end **********************************************************************/

@media only screen and (max-width: 600px) {
  /************************************************** title screen start **********************************************************************/

  .choose-character-title {
    font-size: 30px;
  }
  .container-character-selection {
    width: 1000px;
    height: 2200px;
  }
  .characterBox {
    order: 3;
    width: 200px;
    height: 200px;
    background-color: red;
    border: 5px solid black;
    text-align: center;
    margin-top: 50px;
    cursor: pointer;
    font-size: 26px;
    padding-top: 10px;
    margin-bottom: 100px;
  }
  .characterBox img {
    padding-top: 15px;
    width: 100px;
  }

  .selectedCharacterBox {
    width: 400px;
    height: 400px;
    background-color: red;
    border: 5px solid black;
    text-align: center;
    margin: auto;
    cursor: pointer;
  }

  .selectedCharacterBox img {
    width: 300px;
    height: 300px;
  }
  .selectedCharacterBox h3 {
    font-size: 28px;
  }
  /************************************************** title screen end **********************************************************************/

  /************************************************** trivia start **********************************************************************/

  .title {
    font-size: 3.8em;
    padding: 42px;
  }
  .questionBox {
    height: 300px;
    font-size: 30px;
  }
  .questionBox button {
    padding: 20px;
  }

  /************************************************** trivia end **********************************************************************/

  /************************************************** scoreboard start **********************************************************************/

  .container2 {
    background: url("street-figher.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 1900px;
  }
  .score {
    font-size: 5em;
  }
  .resultScreenCharacter {
    margin-top: 1280px;
    margin-left: 350px;
  }
  .resultScreenCharacter img {
    width: 300px;
    height: 300px;
  }

  #container {
    width: 10000px;
  }

  .container {
    position: relative;
    width: 1024px;
    height: 800px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin: auto;
    object-fit: cover;
  }

  .playBtn {
    position: absolute;
    font-size: 1.4em;
    padding: 10px;
    height: 100px;
    width: 500px;
    top: 1610px;
    background-color: rgb(46, 182, 46);
    color: rgb(255, 255, 255);
    width: 150px;
    left: 0px;
    right: 0px;
    margin: auto;
    outline: none;
    cursor: pointer;
  }
  /************************************************** scoreboard end **********************************************************************/
}
